---
  exercise_page: false
  quiz_page: false
  published: true
---
Kurssimateriaalin on tehnyt Arto Hellas. Muita tekijöitä löytyy kurssimateriaalin <a href=https://github.com/materiaalit/tsoha-20 target="_blank" norel>GitHub-reposta</a>. <br>
<br>
Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
<br>
<br>
Materiaalin aihelista sekä vertausarviointiohjeet ovat muokattu <a href="http://advancedkittenry.github.io/suunnittelu_ja_tyoymparisto/aiheet/index.html" target="_blank" norel>vanhemmasta kurssimateriaalista</a>. Sen lisenssi on Creative Commons Attributions-SA 3.0 Unported License ja lisenssinhaltijana <a href="http://advancedkittenry.github.io/suunnittelu_ja_tyoymparisto/aiheet/credits.html" target="_blank" norel>David Consuegra et al</a>.
