---
title: Osa 6
exercise_page: false
quiz_page: false
published: true
---


<% partial 'partials/hint', locals: { name: 'Osan 6 etapit' } do %>

  <ul>
    <li>Toiminnallisuuden täydentäminen</li>
    <li>Ulkoasun, käytettävyyden ja toiminnallisuuden viilausta</li>
    <li>Tarvittaessa päivitä jo tehtyjä dokumentaation osia</li>
    <li>Aloita puuttuvan dokumentaation kirjoittaminen</li>
    <li>Koodikatselmointi</li>
  </ul>

<% end %>

<p>
  Osassa 6 viet omaa sovellustasi eteenpäin ja tarkastelet myös muiden töitä katselmoinnissa. Tässä osassa päivitetään myös alustavan tietokantakaavio sekä käyttötapaukset vastaamaan sovelluksen tilaa. Käyttötapauksissa voi käyttötapauskohtaisesti ilmoittaa niiden tilan, eli onko käyttötapaus jo toteutettu vai onko se vielä toteuttamatta. Suurimman osan pitäisi tässä kohtaa kuitenkin olla jo toteutettuna. Erityisen vahva paino on myös dokumentaatiolla, jonka viimeistelystä lisää alla.
</p>

<% partial 'partials/material_heading' do %>
    Dokumentaatio
<% end %>

<p>
    Kertauksena johdannosta hieman tarkennettuna dokumentaation vaatimuksia, jotta työn saattaminen ajantasalle on helpompaa. Huomaathan, että alla olevat asiat on jo esitelty kurssin aikana, joten oletettavasti suurin osa on jo tehtynä. Tarkasta kuitenkin dokumentaatiosi ajantasaisuus.
</p>

<p>
    Dokumentaation yleinen sisältö, eli mitä kaikkea oletetaan dokumentaatiosta löytyvän: 
</p>

<ul>
  <li>Aiheen kuvaus: </li>
    <ul>
      <li>README.md -tiedostossa ohjelmiston yleiskuvaus, josta selviää GitHub-repositoriotasi tarkastelevalle helposti, mistä työssä on kyse.</li> 
    </ul>
  <li>Sovelluksen käyttöohje:</li>
    <ul>
      <li>Miten sovellus toimii?</li>
      <li>Mistä voi kirjautua, rekisteröityä?</li>
      <li>Miten perustoiminnot tehdään?</li> 
    </ul>
  <li>Sovelluksen asennusohje:</li>
    <ul>
      <li>Mitä erilaisia konfiguraatioita tai muuttujia tarvitsee asettaa, jotta sovelluksen voi saada pyörimään paikallisesti?</li>
      <li>Entä mitä tarvitsee tehdä, jotta sovelluksen saa toimimaan pilvessä, kuten Herokussa?</li> 
    </ul>
  <li>Työn ja sovelluksen rajoitteet, puuttuvat ominaisuudet:</li> 
    <ul>
      <li>Kurssin aikana ei välttämättä ehdi tehdä kaikkia toiminnallisuuksia mitä haluaisi. Jatkokehitysideat ja puuttuvat ominaisuudet (pois lukien käyttötapaukset) kannattaa siirtää omaksi osuudekseen dokumentaatiossa ennen loppupalautusta, jotta työstä selkeästi näkee mitä on olemassa ja mitä vielä voisi tehdä. </li>
    </ul>
  <li>Käyttötapaukset / user storyt ja niihin liittyvät SQL-kyselyt:</li> 
    <ul>
      <li>Vaikka SQLalchemy tekee suurimman osan kyselyistä puolestasi, pitää sinunkin tietää ja ymmärtää, mitä kyselyitä todellisuudessa tietokannasta kysytään. Jokaista käyttötapausta vastaa yksi tietokantakysely. Jos et ole vielä tehnyt, lisää dokumentaatiossasi käyttötapauksiin niihin liittyvät kyselyt.Jos jokin käyttötapaus jää toteuttamatta, merkitse siitä tieto dokumentaatioosi. </li>
    </ul>
  <li>Tietokantarakenteen kuvaus:</li> 
    <ul>
      <li>Tietokannan tulee olla normalisoitu, tai normalisoinnin puute perusteltu ja dokumentoitu.</li> <li>Loppupalautuksessa tietokannasta tulee olla tietokantakaavio, joka vastaa sovelluksen todellista tietokantaa. Dokumentaatiossa voi olla lisäksi suunnitelma laajemmasta tietokantakaaviosta, mutta merkitse hyvin, mikä kaavio vastaa todellisuutta ja mikä on suunnitelma.</li> 
      <li>Lisäksi dokumentaatiossa tulee olla CREATE TABLE-lauseet tietokannasta.</li>
    </ul>
  </li>
  <li>Dokumentaation vastaavuus toteutettuun työhön:</li> 
    <ul>
      <li>Dokumentaatiota on muokattu pitkin kurssia, ja sen pitäisi lopulta vastata sovelluksen todellista tilaa kaikilta osin.</li>
    </ul>
</ul>
